[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
stealf_pool = "55RNcHf6ktm89ko4vraLGHhdkAvpuykzKP2Kosyci62E"

[programs.devnet]
stealf_pool = "55RNcHf6ktm89ko4vraLGHhdkAvpuykzKP2Kosyci62E"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
